.App-header {
  background-color: #7490c9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

img {
  width: 220px;
  height: 220px;
}

input {
  border: none;
  width: 300px;
  height: 28px;
  text-align: center;
}

button {
  border: none;
  background: #61dafb;
  color: white;
  padding: 7px;
  font-size: 16px;
  margin-left: 5px;
}